.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 5%;
  background: #5b78c7;
  overflow: hidden;
}

input, .aboutToggle {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  outline: none;
  z-index: 10;
}
input {
  opacity: 0;
}
.aboutToggle {
  pointer-events: none;
  border-radius: 50%;
  background: #fff;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  box-shadow: 0 0 0 0px #5b78c7;
}
input:checked ~ .aboutToggle {
    box-shadow: 0 0 0 500px #5b78c7;
    transform: rotate(360deg) translate(0px,2px);
}
#aboutImage {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: 0;
}
.imgBx, .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
input:checked ~ .content {
  opacity: 1;
  transition-delay: 0.5s;
}
.content h2 {
  margin-bottom: 5px;
  color: #fff;
}
.content p {
  margin: 0;
  padding: 0;
  color: #fff;
}
