 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-image: url("../images/bluepattern.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    /* color: white; */

}
.container {

  margin: 0 auto;
  width: 50%;

}
.header {
  background-image: linear-gradient(110deg, #3373b3, #31ad6d);
  border-radius: 10px;
  font-size: 1rem;
  /* background-color: mediumslateblue; */
  /* opacity: 0.6; */
  border: 2px;
  padding-bottom: 30px;
  border-color: midnightblue;
  text-align: center;
  text-decoration: underline;
}
img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.subtitle {
  text-align: center;
}
h1 {


}
h2 {
    text-align: center;
    text-decoration: underline;
 }
nav:hover {
  color: green;
}

}
html {
  font: 20px/1.618 sans-serif;
}


  /* background-color: lavender; */

.aboutme {
  background-color: rgba(255,255,255,0.65);

  /* background: white; */
  border-radius: 10px;
  padding: 10px;


}
.projects_title {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;


}

.contact {
  background-color: rgba(255,255,255,0.65);
  background: flex;
  display: flex;
  flex-position: row;
  justify-content: space-around;
  align-items:baseline;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.projects p {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.skills {
  text-align: center;
  background-color: rgba(255,255,255,0.65);

  border-radius: 10px;
  padding: 10px;
}
.projects li {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: #31ad6d;
}
figure {
  background
}


/*
Don't chain selectors too specifically
*/
/* Default styles/resets */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1.618 sans-serif;
}

/* Default tag styles */

/* article {
    background-color: yellow;
    float: left;
    width: 48%;
    margin-right: 2%;
}
article:nth-child(2) {
    margin-right: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

 main {
    display: flex;
    flex-wrap: wrap;
}

main > article {
    flex: 1 1 17rem;
}

p {
    margin-bottom: 1rem;
}

/* Rules for classes */

 .container {
    margin: 0 auto;
    width: 50rem;
}

.header-nav-links {
    background-color: black;
    color: white;
 }
