 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

    /* color: white; */

}
.hero-image{
  position: relative;
  height: 500px;
  overflow:hidden;
  background: url(sanibeldesk.jpg) no-repeat center;
  background-size: cover;
}
.container {
  display: grid;

  background-image: url("../images/bluestoneywall - Copy.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: arial;
  font-smooth: always;


}

.header {

  display:flex;
  position: fixed;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  overflow: hidden;

  width:100%;


  background: black;
  color: white;
  mix-blend-mode: multiply;
  font-size: 1rem;
  font-family: arial black;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  text-decoration: underline;


}
.header_item {

}
.header nav:hover {


}
.grid_container {
  margin-top: 100px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 3fr 1fr;


}
img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
.subtitle {
  text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
 }

}
.skills {
  margin-bottom: 200px;
}
.skills skills_list {
  padding-top: 10px;
}


  /* background-color: lavender; */

.aboutme {
  background-color: rgba(255,255,255,0.65);

  /* background: white; */
  border-radius: 10px;
  padding: 10px;


}
.projects_title {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;


}

.contact {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background: flex;
  display: flex;
  justify-content: space-around;
  background: black;
  color: white;
  mix-blend-mode: multiply;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  overflow: hidden;

}
.fab {
  /* transform: translate(-50%, -50%); */
  font-size: 20px;
}

.projects p {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.skills {
  text-align: center;
  background-color: rgba(255,255,255,0.65);

  border-radius: 10px;
  padding: 10px;
}
.projects li {
  background-color: rgba(255,255,255,0.65);

  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: #31ad6d;
}



/*
Don't chain selectors too specifically
*/
/* Default styles/resets */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1.618 sans-serif;
}

/* Default tag styles */

/* article {
    background-color: yellow;
    float: left;
    width: 48%;
    margin-right: 2%;
}
article:nth-child(2) {
    margin-right: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

 /* main {
    display: flex;
    flex-wrap: wrap;
}

main > article {
    flex: 1 1 17rem;
}

p {
    margin-bottom: 1rem;
} */

/* Rules for classes */

/*
.header-nav-links {
    background-color: black;
    color: white;
 } */
